# absolute path to mesa_mobile repo root
MESA_MOBILE_REPO=/Users/carlossaldiviaabreu/Documents/GitHub/Sistema Administrativo Global/mesa_mobile
# absolute flutter binary (fvm or flutter)
FLUTTER=/Users/carlossaldiviaabreu/fvm/default/bin/flutter
# dart-define file for release builds
DART_DEFINE_FILE=config_production.json
